html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Libre Franklin", sans-serif;
  background-color: #fff;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
  color: #fff;
}

.container {
  max-width: 1040px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-title {
  color: $main;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.header__burger {
  display: none;
}

.main-subtitle {
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  margin-top: 14px;
}

.main-btn {
  font-size: 16px;
  color: #ffffff;
  background: $main;
  display: inline-block;
  font-weight: 700;
  padding: 12px 30px 10px;
  border: none;
  transition: all 0.1s linear;
  border-radius: 3px;
  outline: none;
  &:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


// loader

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg {
  fill: $main
}