html,
body {
    font-family: 'montserrat',sans-serif;
    position: relative;
}

.title{
    position: absolute;
    top: 50px;
    font-size: 50px;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    resize: none;
}
p {
    display: inline-block;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer{
    font-size: 13px;
    position: absolute;
    bottom: 20px;
}
.input{
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #3498db;
}
.input:focus{
    border: 2px solid #1B1464;
    transition: border .3s linear;
}
.subtitle{
    font-size: 15px;
}