* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #eee;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container p{ 
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: .1rem;
    overflow: hidden;
    padding: .5rem;
}

.typed-text{
    font-weight: normal;
    color: #dd7732;
}

.cursor{
    display: inline-block;
    width: 3px;

    background-color: #ccc;
    animation: blink 1s infinite;
}

.cursor.typing{
    animation: none;
}

@keyframes blink{
    0% {
        background-color: #ccc;
    }
    49%{
        background-color: #ccc;
    }
    50%{
        background-color: transparent;
    }
    99%{
        background-color: transparent;
    }
    100%{
        background-color: #ccc;
    }
}