@media (max-width: 1000px) {
  .about__inner-info {
    flex-direction: column;
    align-items: center;
  }
  .about__inner-info-skills {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .about__inner-info-form {
    padding: 0 10px;
  }
  .about__inner-info-skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about__inner-info-skills-subtitle {
    text-align: center;
  }
}

@media (max-width: 950px) {
  .header__inner {
    padding: 0 15px;
  }
  .main__inner-info {
    margin-left: 20px;
  }
  .section-title {
    &:before {
      width: 130px;
    }
    &:after {
      width: 130px;
    }
  }
}

@media (max-width: 750px) {
  body.lock{
    overflow: hidden;
  }
  .main__inner-info {
    &-title {
      font-size: 40px;
    }
    &-text {
      font-size: 14px;
    }
    margin-top: 100px;
    text-align: center;
    padding: 0 20px;
  }
  .section-title {
    &:before {
      width: 60px;
    }
    &:after {
      width: 60px;
    }
  }
  .header__burger {
    display: block !important;
    position: relative;
    width: 30px;
    height: 24px;
    &:hover {
      cursor: pointer;
    }
    &:before,
    &:after,
    span {
      transition: all 0.3s linear;
    }
    &.active {
      transition: all 0.4s linear;
      &:before {
        transform: rotate(45deg);
        top: 10px;
      }
      &:after {
        transform: rotate(-45deg);
        top: 10px;
      }
      span {
        transform: scale(0);
      }
    }
    &:before {
      content: "";
      background-color: #fff;
      width: 30px;
      height: 2px;
      position: absolute;
      top: 0;
    }
    span {
      background-color: #fff;
      width: 30px;
      height: 2px;
      position: absolute;
      top: 11px;
    }
    &:after {
      content: "";
      background-color: #fff;
      width: 30px;
      height: 2px;
      position: absolute;
      bottom: 0;
    }
  }
  header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  header .header__inner-nav li:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .header__inner-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    top: 83px;
    left: -100%;
    background-color: #95afc0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    padding-top: 15px;
    transition: left 0.2s linear;
    &.active {
      left: 0;
    }
    li {
      font-size: 25px !important;
    }
  }
  .main {
    margin-top: 83px;
  }
}
@media (max-width: 650px) {
  .slick-dots {
    top: 0;
  }
  .services__inner-items {
    flex-direction: column;
    align-items: center;
  }
  .services__inner-item {
    margin-bottom: 20px;
  }
  .main__inner {
    display: flex;
    flex-direction: column;
    .main__inner-bg-wrapper {
      order: 2;
      margin-top: 30px;
    }
    &-info {
      order: 1;
      margin-left: 0;
    }
  }
  .main {
    height: 763px;
  }
}

@media (max-width: 600px) {
  .section-title {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .about .about__inner-info-form .form-input input {
    width: 250px;
  }
  .about .about__inner-info-form .form-input textarea {
    width: 250px;
  }
  .about .about__inner-info-skills-row {
    width: 250px;
  }
  .about .about__inner-info-skills .first:before {
    width: 230px;
  }
  .about .about__inner-info-skills .second:before {
    width: 240px;
  }
  .about .about__inner-info-skills .third:before {
    width: 220px;
  }
  .about .about__inner-info-skills .fourth:before {
    width: 215px;
  }
  .about__inner-info-form img {
    display: none;
  }
  #google-map__wrapper{
    width: 250px!important;
  }
}

@media (max-width: 380px) {
  .main__inner-info-title {
    font-size: 33px;
  }
  .main__inner-info-text {
    font-size: 11px;
  }
  .main__inner-bg {
    width: 300px;
  }
  .main {
    height: 716px;
  }
}
