/*  ================== MAIN ==================   */

body{
    margin: 0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

/* ================== HEADER ==================  */

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
    width: 100%;
}

.header_nav{
    display:flex;
    justify-content: center;
}

.nav_link{
    text-transform: uppercase;
    font-size: 18px; 
    font-weight: 700; 
    text-decoration: none;
    color:white;
    margin-right: 60px;
    padding: 39px 23px 29px 24px;
}

.nav_link:nth-child(4){
    margin-right: 0;
}

.nav_link:hover{

    background-color:#ff3f40;
    transition:background-color .2s ease;
}

.header_inner{
    margin-top: 30px;
    height: 90px;
    background-color: #313030;
    overflow: hidden;
}


/* ==================  INTRO ==================  */
.intro{
    height: 690px;
    background-color:#f6f2f2;
}

.intro_inner{
    display: flex;
    justify-content: space-between;
    padding-top:100px;
}

.intro_left
{
    width: 50%;
}

.intro_title{
    margin-top: 100px;
    font-weight: 800;
    font-size:60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.intro_text{
    padding-top:30px;
    font-weight: 400;
    font-size:16px;
    padding-right: 150px;
    color:#494848;
    line-height: 1.7;
    margin-bottom: 80px;
}
.intro_btn{
    
    background-color: #ff2d2d;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 65px;
    text-decoration: none;
}

.intro_btn:hover{
    color: #ff2d2d;
    background-color: #f6f2f2;
    border: 1px solid #ff2d2d; 
}

.intro_right{
    display: flex;
    justify-content: flex-end;
}

.video{
    margin-top: 140px;
    border-radius: 15px;
}



/*  ================== SERVICES  ==================  */
.services__inner{
    display: flex;
}

.services__inner-left{
    width: 50%;
}

.services__title{
    margin: 100px 0 50px;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
}

.services__text{
    font-size: 16px;
    margin-bottom: 70px;
    padding-right: 110px;
}

.services__button{
    text-decoration: none;
    border: 1px solid red;
    color: red;
    padding: 20px 65px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

.services__button:hover{
    background-color: #ff2d2d;
    color: #fff;
}

.services__inner-right{
    width: 50%;
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
}

.services__item{
    width: 262px;
    padding: 10px 10px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: box-shadow .1s linear;
}

.services__item-title{
    font-weight: 600;
    font-size: 24px;
    margin: 25px 0 10px;
}

.services__item-text{
    font-size: 16px;
}

.services__item:nth-child(4){
    margin-bottom: 100px;
}
.services__item:nth-child(3){
    margin-bottom: 100px;
}

.line{
    border: 1px solid #ececec;
    margin-bottom: 75px;
}
.services__item:hover{ 
        box-shadow: 0 0 15px gray;
}

/* feature */
.feature__inner{
    text-align: center;
}
.feature__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}
.feature__line:before{
    display: inline-block;
    background-color: red;
    height: 2px;
    width: 130px;
    content: '';
}
.feature__text p{ 
    font-size: 16px;
}
.category{
    margin-top: 70px;
    margin-bottom: 50px;
}
.category--link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-right: 50px;
    transition: color .1s linear;
    position: relative;

}
.category--link:nth-child(5){
    margin-right: 0;
}
.category--link:hover{
    color: #ff2d2d;
}
.category--link:after{
    content: "";
    height: 2px;
    width: 0%;
    background-color: #ff2d2d;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width .21s linear;
}
.category--link:hover.category--link:after{
    width: 100%;
}
.category__images-link{
    margin: 5px;
    border-radius: 5px;
    transition: box-shadow .2s linear;
}
.category__images-link:hover{
    box-shadow: 0 0 25px red;
}
.category__images{
    margin-bottom: 130px;
}

/*  ================== team  ==================  */

.team__title{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 42px;
    text-transform: uppercase;
}

.team__text{
    font-size: 16px;
    margin-bottom: 70px;
    padding-bottom: 30px;
    width: 35%;
    position: relative;
    overflow: hidden;
}

.team__text:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 35%;
    left: 0;
    bottom: 0;
    background-color: red;
}

.team__content{
    display: flex;
}

.team__content-img{
    margin-right: 70px;
    border-radius: 5px;
    transition: box-shadow .2s linear;
}

.team__content-img:hover{
    box-shadow: 0 0 25px red;
}
.team__content-right{
    position: relative;
}
.team__content-title{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.team__content-subtitle{
    width: 75%;
    margin-bottom: 40px;
}
 
.team__works-images{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

.team__content-social-link {
    text-decoration: none;
    color: #000;
    margin-right: 25px;
    font-style: italic;
}

.team__content-social-link:hover{
    transform: translateY(40px);
}

.img__wrap {
    position: relative;
    margin-right: 20px;
    display: flex;
    
    flex-direction: column;
    transition:box-shadow .2s linear;
}

.img__wrap:nth-last-child(1){
    position: relative;
    margin-right: 0px;
}

.img__description {
    text-align: center;
    height: auto;
    padding: 7px 0;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: none;
    background: #000;
    opacity: 0;
    color: #fff;
    transition: opacity .2s, visibility .2s;
}
  
.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 0.7;     
    
}

.team{
    margin-bottom: 110px;
}

.img__wrap:hover{
    box-shadow: 0 0 5px #000;
}



/* subscribe */
.subscribe{
    text-align: center;
    background-color: #273c75;
}
.subscribe__title{
    padding-top: 130px;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 20px;
    color: #fff;
}
.subscribe__subtitle{
    color: #fff;
    margin-bottom: 50px;
}
.subscribe__form{
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}
.input{
    width: 400px;
    padding: 28px 35px 28px 35px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    border: 2px solid #fff;
    transition: .2s linear;
}
.input:focus{
    outline: none;
    border: 2px solid #eb4d4b;
}
.btn-red{
    background-color: #EA2027;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 22px;
    padding: 30px 55px;
    
}
.btn-red:hover{
    background-color: #c0392b;
}
.btn-red a{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}






















