@font-face {
  font-family: "Lemon Tuesday";
  src: local("Lemon Tuesday"), local("LemonTuesday"), url("../fonts/LemonTuesday/Lemontuesday.woff2") format("woff2"),
    url("../fonts/LemonTuesday/Lemontuesday.woff") format("woff"),
    url("../fonts/LemonTuesday/Lemontuesday.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot") format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.submit-btn{
    text-transform: uppercase;
    color: #fff;
    padding: 20px 80px;
    border-radius: 10px;
    background-color: #fd4f10;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 59px;
}