@font-face {
  font-family: "Lemon Tuesday";
  src: local("Lemon Tuesday"), local("LemonTuesday"), url("../fonts/LemonTuesday/Lemontuesday.woff2") format("woff2"),
    url("../fonts/LemonTuesday/Lemontuesday.woff") format("woff"),
    url("../fonts/LemonTuesday/Lemontuesday.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot") format("embedded-opentype"),
    url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.submit-btn {
  text-transform: uppercase;
  color: #fff;
  padding: 20px 80px;
  border-radius: 10px;
  background-color: #fd4f10;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 59px;
}

.first-slide{
  margin-top: 70px !important;
}

.main__menu-sets__title {
  text-align: center;
  color: #32505a;
  font-family: "Lemon Tuesday";
  font-size: 60px;
  margin: 110px 0 50px;
  &:before {
    display: inline-block;
    content: "";
    width: 100px;
    height: 40px;
    background-image: url(../img/main__menu/title__line-left.png);
    background-repeat: no-repeat;
    margin-right: 30px;
  }
  &:after {
    display: inline-block;
    content: "";
    width: 109px;
    height: 40px;
    background-image: url(../img/main__menu/title__line-right.png);
    background-repeat: no-repeat;
    margin-left: 30px;
  }
}

.quantity {
  position: relative;
  height: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 37px;
  height: 20px;
  display: block;
  border: none;
  background-color: transparent;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  img{
    width: 14px;
    height: 14px;
  }
}

.quantity-button.quantity-up {
  position: absolute;
  top: 3px;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  top: 3px;
  left: -22px;
}

.active{
  color: #fd4f10 !important;
}