@import "vars";
@import "libs";
@import "fonts";
@import "global";

// ============= header__top
.header__inner {
  border-bottom: 1px solid #f2f2f2;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  &-logo {
    margin-right: 50px;
    cursor: pointer;
  }
}

.header__top-address {
  display: flex;
  align-items: center;
  margin-right: 145px;
  img {
    width: 20px;
    height: 30px;
  }
  p {
    font-family: "Myriad Pro Regular";
    font-size: 14px;
  }
}

.header__top-mail {
  display: flex;
  align-items: center;
  margin-right: 70px;
  img {
    width: 15px;
    height: 16px;
    margin-right: 5px;
  }
  p {
    font-family: "Myriad Pro Regular";
    font-size: 14px;
  }
}

.header__top-phone__number {
  margin-right: 30px;
  p {
    font-weight: 800;
    font-size: 18px;
    color: #010101;
  }
  span {
    font-size: 10px;
    color: #010101;
  }
}

.header__top-phone {
  display: flex;
  align-items: center;
}

.header-btn {
  color: #1fba0a;
  border: 1px solid #1fba0a;
  border-radius: 13px;
  padding: 13px 25px;
  font-size: 15px;
  font-family: "Myriad Pro Regular";
  outline: none;
  background-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
  &:hover {
    background-color: #1fba0a;
    color: #fff;
  }
}

// ============= header__nav
.header__nav {
  height: 56px;
}

.header__nav-list {
  display: flex;
}

.header__nav-link {
  padding: 0 25px;
  &:nth-child(5) {
    margin-right: 98px;
  }
}

.header__nav-menu {
  padding: 20px 30px;
  svg {
    width: 10px;
    height: 10px;
  }
  p {
    margin-right: 5px;
  }
}

.header__nav-cabinet {
  padding: 0 20px;
  img {
    margin-right: 10px;
  }
}
.header__nav-basket {
  padding: 0 20px;
  img {
    margin-right: 10px;
  }
}

.header__nav-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  &:hover {
    background-color: $green;
    color: #fff;
  }
}

// ============= header__nav
.main__page {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.main__slider {
  position: relative;
}

.main__slider-title p {
  font-family: "Lemon Tuesday";
  font-size: 110px;
  color: $green;
  padding-top: 110px;
  padding-bottom: 40px;
}

.main-sale {
  width: 150px;
  height: 150px;
  background-image: url(../img/main-page/main-sale.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  right: 750px;
  z-index: 1000;
}

.main__slider-subtitle {
  font-style: italic;
  font-size: 27px;
  color: #fff;
}

.main__slider-item {
  background-image: url(../img/main-page/main-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 675px;
}

.slider-arrows {
  position: absolute;
  top: 290px;
  z-index: 100;
}

.slider-arrows__left {
  left: 150px;
}

.slider-arrows__right {
  right: 150px;
}

.header__slider-dots {
  position: absolute;
  width: 100%;
  bottom: 65px;
  text-align: center;
  display: block;
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 25px;
    }
    &.slick-active {
      button {
        background-color: #1fba0a;
        border: 2px solid #1fba0a;
      }
    }
  }
  button {
    font-size: 0;
    background-color: transparent;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #c2c2c2;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    outline: none;
    &:hover {
      background-color: #1fba0a;
      border: 2px solid #1fba0a;
    }
  }
}

.main__menu-sets__slider {
  display: flex;
}

.main__menu-sets__slider-item {
  height: 465px;
  width: 263px !important;
  text-align: center;
  box-shadow: 0 0 20px 10px #f6f6f6;
  border-radius: 10px;
  margin-right: 40px;
  overflow: hidden;
}
.slick-slide {
  outline: none;
}

.slider-item__title {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
}

.slider-item__subtitle {
  font-weight: 300;
  font-size: 12px;
}

.slider-item__price {
  text-align: left;
  padding: 0 36px;
  margin-top: 25px;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-weight: 800;
    font-family: "Roboto Slab", serif;
    font-size: 22px;
  }
}

.slider-item__btn {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #fd4f10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 35px;
  padding: 15px 0;
  border-radius: 7px;
  svg {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  &:hover {
    background-color: #c63e0d;
  }
  p {
    text-transform: uppercase;
    margin-right: 15px;
  }
}

.main-menu__dots {
  position: absolute;
  bottom: -85px;
  display: block;
  width: 100%;
  list-style: none;
  text-align: center;
  margin-bottom: 40px;
  li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    &.slick-active {
      button {
        background-color: $green;
      }
    }
  }
  button {
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    width: 9px;
    height: 9px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #b3b3b3;
  }
}

.main-menu__arrow {
  position: absolute;
  bottom: -50px;
  z-index: 5;
}

.arrow-right {
  left: 670px;
  cursor: pointer;
}

.arrow-left {
  left: 440px;
  cursor: pointer;
}

.roll-img {
  margin-left: 38px;
  margin-bottom: 60px;
  width: 180px;
  height: 180px;
}

@import "media";
